<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </div>
  <div class="h1 title login-title">测试高德地图</div>
  <div class="buttons">
    <a class="button login-register" ng-click="getLocation()">获取定位信息
    </a>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content has-bouncing="true" overflow-scroll="false">
    <div id="mapContainer" style="height: 600px;"></div>
  </ion-content>
</ion-view>
