<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </div>
  <div class="h1 title login-title" >测试扫码</div>
</ion-header-bar>
<ion-view>
  <ion-content has-bouncing="true" overflow-scroll="false">
    <ion-list>
      <div class="blank-h12"></div>
      <img src="img/scan_bar_code.png" style="width: 120px;height: 120px;display: block;margin: auto;" ng-click="scanCode()">
    </ion-list>
  </ion-content>
</ion-view>
